$fa-font-path: "../webfonts";

// colors
$color-background: black;
$color-theme: #04aaff;
$color-text: black;
$color-background-selected: blueviolet;
$color-text-selected: white;
$color-basic-font: black;

// icons
$icon-main: \f535